fastapi==0.115.0
uvicorn[standard]==0.30.0
python-multipart==0.0.9
websockets==13.1
faster-whisper
anthropic==0.39.0
yt-dlp>=2024.10.22
ffmpeg-python
pydantic==2.9.2
pydantic-settings==2.5.2
python-dotenv==1.0.1
aiofiles==24.1.0
supabase
pydantic-core==2.23.4
